.container {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-family:'Bison', sans-serif;
  font-size: 3rem;
  line-height: 1;
  margin-top:2.5rem;
  margin-bottom:1rem;
}

.divider{
  width: 12rem;
  height: 0.25rem;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 1rem;  
  @apply border-b-4;
  @apply border-ousiaBlue;
}

/* MAIN TITLE */
.heading h1 {
  @apply text-5xl text-center my-3 px-2 tracking-wider ;
  font-family:'Bison', sans-serif;
}

/* TEXT COMPONENTS */
.text {
  h2 {
    @apply text-xl text-center text-ousiaBlue mt-2 mb-4 px-2
  }

  p {
    @apply my-2 text-justify whitespace-normal
  }

  a {
    @apply text-ousiaBlue ;
    font-weight: bold;
    text-decoration: underline
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply list-inside text-justify py-1
  }

  em {
    @apply italic
  }

  strong {
    @apply font-bold text-ousiaBlue
  }
}


/* IMAGE COMPONENTS */
.image {
  @apply my-4
}

.image h3 {
  @apply text-xs italic
}

/* QUOTE COMPONENTS */
.quote {
  padding: 20px 80px 20px;
  position: relative;
}
.quote p {
  font-size: 1.2rem;
  text-align: center;
}

.quote p::before {
  font-family: 'Arial';
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  font-size: 150px;
 }

.quote::before {
  position: absolute;
  font-family: 'Arial';
  top: -3.7rem;
  left: 3.2rem;
  content:"\201C";
  font-size: 200px;
  color: rgba(0,0,0,0.1);
}

/* EMBED COMPONENTS */
.embed iframe {
  width: 100%;
  height: 100%
}
