.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MAIN TITLE */
.heading h1 {
  @apply text-5xl text-center my-3
}

/* TEXT COMPONENTS */
.text li {
  @apply list-disc
}

.text a {
  @apply text-red-500
}

/* IMAGE COMPONENTS */

.image h3 {
  @apply text-xs
}

/* QUOTE COMPONENTS */
