@tailwind base;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-family: "Bison";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bison";
  src: url("../public/fonts/Bison-DemiBold.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@tailwind components;
