html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background-color: rgb(55, 31, 65);
  letter-spacing: 0.8px;
}

.navbar .brand {
  display: block;
  float: left;
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  border-right: 1px solid white;
  text-transform: uppercase;
}

.navbar .brand .a {
  display: block;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  display: inline;
  list-style: none;
  justify-content: space-around;
}

.navbar .leftnav {
  display: flex;
  float: left;
}

.navbar a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  color: rgb(233, 233, 233);
  text-decoration: none;
}
