.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply text-center;
}

.leadTitle{
  @apply text-6xl;
  @apply tracking-wider;
  @apply leading-normal;
  @apply text-gray-200;
  font-family: 'Bison', sans-serif;
}

.title {
  text-align: center;
  font-family:'Bison', sans-serif;
  font-size: 3rem;
  line-height: 1;
  margin-top:2.5rem;
  margin-bottom:1rem;
}

.subtitle {
  font-family:'Bison', sans-serif;
  text-align: center;
  width:100%;
  margin: 0.5rem 0;
  font-size: 2.25rem;
  line-height: 2.5rem;
  @apply text-gray-800;
}

.divider{
  width: 12rem;
  height: 0.25rem;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 1rem;
  @apply border-b-4;
  @apply border-ousiaBlue;
}

@media (min-width: 600px) {
  .divider {
    width: 33.333333%;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  @apply text-3xl;
  @apply font-semibold;
  @apply p-1;
  font-family:'Bison', sans-serif
}

.logo:hover{
  @apply text-gray-700
}

#jumbotron_banner{
  background-image: url('../public/jumbotron.jpg');
  height:75vh;
  background-position: center;
  object-fit: cover;
}

.blockquote {
  padding: 60px 80px 40px;
  position: relative;
}
.blockquote p {
  font-family: 'Arial';
  font-size: 35px;
  font-weight: 700px;
  text-align: center;
}

.blockquote p::before {
  content: "\f095";
  font-family: 'Arial';
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  font-size: 180px;
 }

.blockquote::before {
  position: absolute;
  font-family: 'Arial';
  top: -1.5rem;
  left: 3rem;
  content:"\201C";
  font-size: 200px;
  color: rgba(0,0,0,0.1);
}

.images {
  visibility: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  @apply rounded filter drop-shadow-lg;
}

.confirmButtonCold {
  margin: 0.5rem;
  padding: 1rem 2rem;
  @apply bg-ousiaBlue;
  @apply shadow-sm;
  @apply tracking-wider;
  @apply text-white;
  @apply rounded-full
}

.confirmButtonCold:hover{
  @apply shadow-lg;
  @apply bg-blue-900;
}

.confirmButtonWarm {
  margin: 0.5rem;
  padding: 1rem 2rem;
  @apply bg-ousiaOrange;
  @apply shadow-sm;
  @apply tracking-wider;
  @apply text-white;
  @apply rounded-full
}

.confirmButtonWarm:hover{
  @apply shadow-lg;
  @apply bg-red-900;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .homeButton{
    @apply text-sm;
  }
  .leadTitle{
    @apply text-5xl;
  }
}

.modalDrop {
  background: rgba(63, 61, 61, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 1.3s;
}
