.lowStockBadge{
  background-color:rgb(255, 145, 0);
}

.title {
  padding:2rem;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.divider{
  margin-bottom:3rem;
  border:1px solid black
}